.static-info{
    position: fixed;
    top: 5rem;
    right: 0;
    background-color: var(--accent-800);
    color: white;
    text-align: end;

    width: 22rem;
    padding: 1rem 0;

    margin-top: 1rem;
    border-radius: 1rem;
    
}

.static-info .card{
    display: block;
    margin-top: 1rem;
}

.static-info .card{
    border-top: var(--accent-950) solid 1px;
    padding-top: 1rem;
}



.static-info .sim-name{
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.static-info .card .section-title{
    font-size: 1.25rem;
    font-weight: 700;
    display: block;
    margin-bottom: 0.45rem;
    margin-right: 1rem;
}

.static-info .card section{
    background-color: var(--accent-700);
    padding: 0 2rem;
    border-bottom: var(--chestnut) 2px solid;
    margin-bottom: 0.55rem;
    padding-bottom: 0.25rem;
}

.static-info .card section span:first-of-type{
    font-size: 1.05rem;
    font-weight: 600;
    
}

.static-info .card section span:last-of-type{
    display: block;
    font-size: 0.95rem;
    font-weight: 400;
    margin-left: 0.3rem;
    
}






