@media screen and (max-width: 768px) {
    .navbar .logo{
        max-width: 3rem;
        margin-top: 0;
    }

    .navbar .logo:hover img{
        transform: none;
    }

    .navbar .navLinks li button:hover{
        background-color: var(--background-700);
        box-shadow: none;
    }
}