@media screen and (max-width:640px) {

    .home-page-smDevice .home-page-bg .hp-title{
        width: 20rem;
    }

    .home-page-smDevice .home-page-bg .hp-title h1{
        font-size: 2.5rem;
    }

    .home-page-smDevice .home-page-bg .hp-title h3{
        font-size: 1rem;
    }

    .home-page-smDevice .hp-links{
        width: 20rem;
    
    }

    .home-page-smDevice .hp-links button:first-of-type{
        transform: translateX(0);
    }
    
    .home-page-smDevice .hp-links button:last-of-type{
        transform: translateX(0);
    }
}

@media screen and (max-width:480px) {
    
}