.dashboard-page{
    position: relative;
    top: 3rem;
    background-color: var(--accent-200);
}



.dashboard-page .dashboard-data .data-result .dashboard-result{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 25rem;
    padding-top: 1rem;
}

.dashboard-page .dashboard-data .data-result .dashboard-result .graphs{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;
    
}

.dashboard-page .dashboard-data .data-result .dashboard-result .graphs .graph{
    box-shadow: 0px 0px 16px 1px var(--accent-500);
    background-color: var(--accent-50);
    border: 2px solid var(--accent-800);
    margin-bottom: 2rem;
}

.dashboard-page .dashboard-data .data-result .dashboard-result .graphs .graph h3{
    background-color: var(--accent-800);
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    color: var(--text-50);
    padding: 1rem 0;
}

.dashboard-page .dashboard-data .data-result .dashboard-result .graphs .doughnut-polar-graphs,
.dashboard-page .dashboard-data .data-result .dashboard-result .graphs .bar-graphs
{
    max-width: 90rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dashboard-page .dashboard-data .data-result .dashboard-result .graphs .doughnut-polar-graphs .graph{
    width: min-content;

    margin: 2rem 0.5rem;
}

.dashboard-page .dashboard-data .data-result .dashboard-result .graphs .bar-graphs{
    justify-content: space-around;
}

.dashboard-page .dashboard-data .data-result .dashboard-result .graphs .bar-graphs .graph{
    width: min-content;

}

.dashboard-page .dashboard-data .data-result .dashboard-result .graphs .bar-graphs .graph:last-of-type{
    width: min-content;

}

.dashboard-page .dashboard-data button.list-btn{
    position: fixed;
    z-index: 4;
    width: 100%;
    padding: 0.25rem 0;
    border: 0.05rem solid var(--accent-800);
    background-color: var(--secondary-400);
    color: var(--accent-800);
    cursor: pointer;

    box-shadow: 0 1px 10px 1px var(--accent-800);
}

.dashboard-page .dashboard-data button.list-btn:hover{
    background-color: var(--secondary-300);
}
.dashboard-page .dashboard-data button.list-btn:active{
    background-color: var(--secondary-600);
}


.dashboard-page .dashboard-data .form-cards{
    position: fixed;
    top: 5.1rem;
    z-index: 4;
    background-color: var(--accent-800);
    width: 100vw;
    height: 24rem;
    padding: 2rem 1rem; 
    padding-top: 5rem;
    display: flex;
    overflow-x: scroll;

    box-shadow: 5px 5px 5px 2px var(--accent-500);
}

.dashboard-page .dashboard-data .form-cards .new-sim-btn{
    position: fixed;
    top: 6rem;
    left: 5rem;
    margin: 0 auto;
    padding: 0.5rem;
    width: 15rem;
    border: none;
    background-color: var(--primary-500);
    color: var(--text-50);
    cursor: pointer;
}

.dashboard-page .dashboard-data .form-cards .card{
    background-color: var(--background-300);
    border-radius: 10px;

    margin: 0.25rem;
    min-width: 25rem;
    cursor: pointer;

    transition: all 0.25s;
}

.dashboard-page .dashboard-data .form-cards .card:last-of-type{
    margin-right: 10rem;
}

.dashboard-page .dashboard-data .form-cards .card:hover{
    margin: 0 2rem;
    box-shadow: 0px 5px 20px 5px var(--primary-600);
}

.dashboard-page .dashboard-data .form-cards .card.selected-card{
    box-shadow: 0 0 0 10px var(--primary-600);
    margin: 0 1rem;
    order: -1;
}

.dashboard-page .dashboard-data .form-cards .card section{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--primary-200);
    margin-top: 0.5rem;
    padding: 0 2rem;
}

.dashboard-page .dashboard-data .form-cards .card section:first-of-type{
    margin-top: 1.5rem;
}
.dashboard-page .dashboard-data .form-cards .card section:last-of-type{
    margin-bottom: 1.5rem;
}

.dashboard-page .dashboard-data .form-cards .card section span:first-of-type{
    font-size: 1.05rem;
    font-weight: 600;
}

.dashboard-page .dashboard-data .form-cards .card section span:last-of-type{
    font-size: 1.05rem;
}

.dashboard-page .dashboard-data .form-cards .card button{
    display: block;
    margin: 0 auto 1rem;
    padding: 0.5rem;

    background-color: #ff0000;
    color: var(--text-50);
    border: none;

    cursor: pointer;

    transition: all 0.2s;
}

.dashboard-page .dashboard-data .form-cards .card button:hover{
    transform: scale(1.1);
}

.dashboard-page .dashboard-data .no-data-page{
    width: 100vw;
    height: calc(100vh - 3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dashboard-page .dashboard-data .no-data-page button{
    background-color: var(--primary-200);
    border: var(--primary-500) solid 0.1rem;
    padding: 0.5rem;
    box-shadow: 0px 5px var(--accent-800);

    cursor: pointer;
}

.dashboard-page .dashboard-data .no-data-page button:hover{
    transform: translateY(5px);
    
    box-shadow: 0px 2px var(--accent-800);
}

.dashboard-page .dashboard-data .no-sim-selected-page{

    width: 100vw;
    height: calc(100vh - 3rem);

}

.dashboard-page .dashboard-data .no-sim-selected-page span{
    position: absolute;
    top: 40rem;
    display: block;
    width: 100%;
    text-align: center;
}