.home-page-smDevice{
    display: none;
}

.home-page{
    display: block;
    width: 100vw;
    height: 100vh;

    background-image: url('../../assets/backgroundHomePage.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.home-page .home-page-side{
    background-color: var(--text-950);
    color: var(--background-50);

    width: 40rem;
    height: 100%;

    position: absolute;
    right: 0;

}

.home-page .home-page-side .hp-title{
    text-align: end;

    width: 35rem;

    margin-top: 5rem;
}

.home-page .home-page-side .hp-links{
    text-align: end;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 35rem;
    
    
}

.home-page .home-page-side .hp-links p{
    margin-bottom: 2rem;
}

.home-page .home-page-side .hp-links button{
    width: 20rem;
    height: 4rem;
    margin-bottom: 1rem;

    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.home-page .home-page-side .hp-links button:first-of-type{
    background-color: var(--primary-600);
    transform: translateX(-5rem);
}

.home-page .home-page-side .hp-links button:last-of-type{
    background-color: var(--accent-600);
    transform: translateX(-2rem);
}

.home-page .home-page-side .hp-links button:first-of-type:hover{
    background-color: var(--primary-400);
}

.home-page .home-page-side .hp-links button:last-of-type:hover{
    background-color: var(--accent-400);
}

.home-page .home-page-side .hp-links button:first-of-type:active{
    background-color: var(--primary-500);
}

.home-page .home-page-side .hp-links button:last-of-type:active{
    background-color: var(--accent-500);
}











