.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    width: 100vw;
    height: 3rem;
    background-color: var(--gunmetal);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1{
    padding: 0.4rem 0.3rem;
    border-radius: 10px;

    color: white;
    font-size: 2rem;
    margin-left: 2rem;
    transition: all 0.2s;

    cursor: pointer;
}

.navbar h1:hover{
    background-color: var(--chestnut);
}

.navbar h1:active{
    background-color: var(--maize);
    box-shadow: var(--chestnut) -0.8rem 0.5rem;
    color: var(--gunmetal);
    font-size: 1.8rem;
}


.navbar ul{
    
    margin-right: 2rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.navbar ul li{
    text-decoration: none;
    list-style: none;

    margin-right: 2rem;
}

.navbar ul li:last-of-type{
    margin-right: 0;
}

.navbar ul li button{
    padding: 0.5rem 2rem;

    font-size: 1rem;
    font-weight: 600;
    font-family: "Outfit";
    color: var(--gunmetal);

    background-color: var(--vista-blue);
    border: none;
    border-radius: 10px;

    transition: all 0.2s;
    cursor: pointer;
}

.navbar ul li button:hover{
    box-shadow: var(--chestnut) 5px 5px;
}

.navbar ul li button:active{
    transform: translateY(2px);
    box-shadow: var(--chestnut) 3px 3px;
    background-color: var(--maize);
}

.navbar .hamburger {
    display: none;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: white;
    cursor: pointer;
}

.navbar .responsive-navlinks{
    display: none;
}

@media screen and (max-width:801px) {

    .navbar h1{
        font-size: 1.5rem;
    }

    .navbar ul li button{
        font-size: 0.85rem;
    }
}

@media screen and (max-width:601px) {

    .navbar ul li button{
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 600px) {
    .navbar .hamburger {
        display: block;
    }

    .navbar .navLinks{
        display: none;
    }

    .navbar .responsive-navlinks{
        display: flex;
        align-items: end;
        justify-content: center;
        width: 100%;

        position: absolute;
        top: 3rem;  
        right: 0;
        margin: 0;

        background-color: var(--chestnut);
        box-shadow: var(--gunmetal) 5px 0 5px 5px, var(--gunmetal) -5px 0px 5px 5px;
    }

    .navbar .responsive-navlinks li{
        margin: 0.5rem;

    }

    .navbar .responsive-navlinks li:last-of-type{
        margin: 0 0.5rem 0.5rem;
    }

    .navbar .responsive-navlinks li button{
        background-color: var(--gunmetal);
        border-radius: 0;
        width: 10rem;
        color: white;
    }

    .navbar ul li button:hover{
        box-shadow: none;
    }
    
    .navbar ul li button:active{
        transform: none;
        box-shadow: none;
        background-color: var(--gunmetal);
    }
}